/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.layout {
  margin: 5px;
  padding: 5px; background: gray;
  border: 2px solid black;
}

.group {
  background: gray;
  border: 0px solid black;

  padding: 0;

  margin: 0;
  /* margin-left: 5px;    */
  /* margin-right: 5px;   */
  /* margin-bottom: 10px; */
  list-style: none;

  /* ** flex prefixing for browser compat. ** */
  /* display: -webkit-box;   */
  /* display: -moz-box;      */
  /* display: -ms-flexbox;   */
  /* display: -webkit-flex;  */
  /* display: flex;          */
  /* -webkit-flex-flow: row wrap;    */
  /* justify-content: space-around;  */

  /* ** flex settings ** */
  display: flex; /* or inline-flex */
  flex-direction: row; /* or row-reverse (RTL), column (Top-Bottom); */
  flex-wrap: no wrap;
  align-content: stretch
}

.panel {
  background: white;
  border: 2px solid black;
  padding: 5px;
/*  width: 200px; */
  width: 100%;
  height: 150px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  
  line-height: 150px;
  color: blue;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.panel-half {
  flex: 0 0 50%;
}